.contenedor{
    border: solid black 3px;
    background-color: rgb(154, 175, 133);
}

.contenido{
    border: solid blue 4px;
    background-color: darkgreen;
    padding: 20px; /*Existe un espaciado en todos los sentidos de la misma dimensión*/
    padding: 50px 1px; /*Top/bottom left/right*/
    padding: 60px 2px 30px; /*top left/right bottom*/
    padding: 10px 30px 5px 50px; /* top right bottom left*/
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;

    margin:10px; /*Espaciado en todas las direcciones fuera del borde*/
    margin: 30px 3px; /*Top/bottom left/right*/
    margin: 40px 10px 40px;/*top left/right bottom*/
    margin: 10px 20px 10px 20px;/* top right bottom left*/
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 20px;
}


header{
    border: 1px solid black;
    height: 150px;
    background: rgb(165, 109, 109);
    /* background-image: url(); */
}
h2{
    color:rgba(110, 45, 45, 0.814);
    text-align: center;
    padding: 40px;
}
.navbar{
    padding: 10px;
}
a{
    color:white;
    padding: 5px;
}
nav{
    height: 60px;
    border: solid black 1px;
    background-color: rgb(85, 34, 34);
}
main{
    border: 1px black solid;
    height: 600px;
    background-color: rgb(178, 135, 97);
}

main div{
    border: 1px solid black;
    width: 300px;
    height: 150px;
    margin: 30px 60px;
}
footer{
    height: 100px;
    background-color: rgba(165, 42, 42, 0.807);
}
